<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=""要与mapper接口的全路径相同这样可以自动匹配-->
<mapper namespace="com.example.boot303_ssm.mapper.carMapper">
    <select id="GetcarById" resultType="com.example.boot303_ssm.POJO.Car">


        select * from t_car where id=#{id}
    </select>

</mapper>